<div class="header_list">
    <div class="d-flex flex-row align-items-center">
        <img src="../../assets/80s_img.jpg" alt="80s_img">
        <h1>80s ROCK BANDS</h1>
    </div>
    <div class="input-group">
        <input type="text" [(ngModel)]="textInput" class="form-control" placeholder="Search band" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button [routerLink]="['/bandslist']" type="button" class="btn btn-outline-secondary" id="button-addon2" (click)="search()">Search</button>
    </div>
</div>
<div class="body_list">
    <div class="list_said">
        <div class="backButton" >
            <a (click)="navigateBack()" (click)="resetFilter()" (click)="textInput=''"  #backButton> 
                Back
            </a>
        </div>
        <div style="width: 100%; height: 100%;" *ngIf="bandsList.getDataHover()" >
            <div style="width: 80%; height: 40%" class="imgSide">
                <img style="width: 100%; height: 100%; " [src]="bandsList.getDataHover().image[0]['#text']!= '' ? bandsList.getDataHover().image[0]['#text'] : '../../assets/default_band_img.jpg'" alt="band_img" />
            </div>
            <p style="font-weight: bold;">{{bandsList.getDataHover().name.split("_").join(" ")}}</p>
            <div style="font-size: 1vw;">
                <p>Lastfm info:</p>
                <ul>
                    <li>
                        Listeners: {{bandsList.getDataHover().stats.listeners}}
                    </li>
                    <li>
                        Play count: {{bandsList.getDataHover().stats.playcount}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>


