<div class="header d-flex justify-content-between align-items-center">
   
    <a [routerLink]="['']" class="fw-bold fs-4">ANGULAR ROCKS</a>
    
    
    <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Links of interest
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="https://github.com/DiegoVaezman/AngularRocks" target="_blank">GitHub Repository</a></li>
          <li><a class="dropdown-item" href="https://vaezman.netlify.app/" target="_blank">More projects</a></li>
          <li><a class="dropdown-item" href="https://www.linkedin.com/in/diego-narvaez-guzman/" target="_blank">Linkedin</a></li>
        </ul>
      </div>
</div>
