<div class="header d-flex justify-content-between align-items-center">
   
    <a [routerLink]="['']" class="fw-bold fs-4">ANGULAR ROCKS</a>
    
    
    <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Enlaces de interés
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Repositorio GitHub</a></li>
          <li><a class="dropdown-item" href="#">Más proyectos</a></li>
          <li><a class="dropdown-item" href="#">Linkedin</a></li>
        </ul>
      </div>
</div>
