.listbody{
    width: 60vw; 
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    height: 28vw;
}
.list{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 5px;
    height: 28vw;
    overflow-y: scroll;
    height: 99%;
}
.itemList{
    border-bottom: 1px solid grey;
    /* margin: 10px 0 0 5px; */
    height: 25%;
    position: relative;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
}
.itemList:hover{
    background: grey;
}

/*lateralButtons*/
.divedit{
    margin-right: -10vw;
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
    padding: 3vw 0 3vw 0;
}
.add{
    width: 2vw;
    overflow: hidden;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #666;
    border: 2px solid black;
    border-left: none;
    /* transition: 1s all ease-in; */
}
.add:hover{
    width: 10vw;
    transition: 0.5s all ease-in;
    background: rgb(160, 103, 138);
}
.add a{
    display: none;
    font-weight: bold;
    color: white;
}
.add:hover a{
    display: block;
}