*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(36, 36, 36);
    color: white;
}
p{
    margin-left: 10px;
    font-size: 1.5vw;
}
a{
    text-decoration: none;
    color: rgb(255, 191, 236);
}
a:hover{
    color: rgb(216, 27, 175)
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 0.5vw;
}
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(160, 89, 142); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(148, 7, 113); 
}